body {
    background-color: #ffe6ff;
}

h1 {
    /*color: #0066ff;*/
    color: #b300b3;
}

h3 {
    /*color: #0066ff;*/
    color: #b300b3;
}

.drankkaart {
    text-align: center;
    border: #b300b3 solid 5px;
    border-left-width: 100px;
    border-right-width: 100px;
}

.drinks {
    margin-left: 650px;
}

a {
    text-decoration: none;
    color: #800080;
}

a:hover {
    color: #b300b3;
}