body {
    background-color: #cce6ff;
}

h1 {
    /*color: #0066ff;*/
    color: #0084ff;
}

h3 {
    /*color: #0066ff;*/
    color: #0084ff;
}

.drankkaart {
    text-align: center;
    border: #0084ff solid 5px;
    border-left-width: 100px;
    border-right-width: 100px;
}

.drinks {
    margin-left: 650px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0084ff;
}